html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background-image: url("../1686472481_img19.jpg");
  background-size: cover;
}
.wrapper {
  width: 400px;
  margin: 0 auto;
  margin-top: 100px;
  border: 1px solid #000;
  background-color: rgba(27, 33, 39, 0.88);
  color: #fff;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 3px 10px 50px 1px rgba(0, 0, 0, 0.75);
}

.calc-button-row {
  margin-bottom: 0.5%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.screen {
  text-align: right;
  padding: 80px 10px;
  font-size: 50px;
  font-weight: 700;
  border-radius: 5px;
  height: 100px;
  background-color: rgba(27, 33, 39, 0.88);
  color: #fff;
  margin-bottom: 0.5%;
}

.calc-button {
  background-color: rgba(59, 59, 59, 0.881);
  color: #fff;
  border: none;
  font-size: 20px;
  height: 50px;
  flex-basis: 24.5%;
  border-radius: 5px;
}

.calc-button:hover {
  background-color: rgba(50, 50, 50, 0.8);
}

.calc-button:active {
  background-color: rgba(41, 41, 41, 0.881);
}

.calc-button--darker {
  background-color: rgba(50, 50, 50, 0.8);
  color: #fff;
}

.calc-button--darker:hover {
  background-color: rgba(59, 59, 59, 0.881);
}

.calc-button--darker:active {
  background-color: rgba(50, 50, 50, 0.8);
}

.calc-button--primary {
  background-color: #f38064;
  color: #fff;
}

.calc-button--primary:hover {
  background-color: #f26d4a;
}

.calc-button--primary:active {
  background-color: #e2603f;
  filter: opacity(0.8);
}
